.spoiler {
  margin: 0 0 5px 0;
  padding: 0;
}

.teaser {
  margin: 1px;
  padding: 3px 10px;
  cursor: pointer;
  position: relative;
  color: black;
  border-radius: 10px;
  background-color: #F0F8FF;
  border: 1px solid #2879d0;
}


