<!DOCTYPE html>
<html>
  {% include header.html %}
  <body>
  <header>
    <div class="inner">
      <h1>Blog</h1>
      <h2>simple repo to store XKE and tech event</h2>
      <a href="https://github.com/Jean-Eudes/jean-eudes.github.io" class="button"><small>View project on</small>GitHub</a>
    </div>
  </header>

  <div id="content-wrapper">
    <div class="inner clearfix">
  {{ content }}
    </div>
  </div>

  <footer class="inner clearfix" >
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />Ce(tte) œuvre est mise à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Licence Creative Commons Attribution - Pas d’Utilisation Commerciale 4.0 International</a>.
  </footer>

  </body>
</html>
